<form style="margin-left: 1rem;margin-top: 1rem;display: flex;flex-direction: column"  method="post" action="/login">
    <label>Login <input name="login"></label>
    <label>Password (try 'testPassword') <input name="password" type="password"></label>
    <button class="btn" type="submit">Log in</button>
</form>